#profile-picture {
    width: 180px;
    height: 230px;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    background-color: rgb(24, 27, 27);
    color: white;
    margin-bottom: 5px;
}

header, .repo-component p, .academic-component p, .whistory-component p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-quick-info {
    text-align: center;
    font-size: 32px;
}

.repo-component, .academic-component, .whistory-component {
    background-color: rgba(134, 165, 121, 0.418);
}

.repo-component {
    height: 50px;
    padding: 8px;
    margin: 5px;
}

.repo-component p {
    font-size: 16px;
}

#github-repos {
    height: 500px;
    overflow-y: auto;
    border: 1px solid;
}

.section-item-title {
    background-color: rgb(24, 27, 27);
    /* position: sticky;
    top: 0; */
    background-color: r;
    padding: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #g-r-title h1 {
    color: white;
} */
.whistory-component {
    padding: 10px;
    margin: 5px;
}

.academic-component {
    padding: 8px;
    margin: 5px;
}

/* Mobile phones (portrait and landscape) */
@media (max-width: 599px) {
    .profile-quick-info {
        text-align: right;
        font-size: 16px;
        justify-content: center;
        padding: 20px;
        padding-top: 30px;
    }

    #github-repos {
        width: 100%;
    }

    #github-repos div {
        width: 100%;
    }

    .section-component-data {
        display: none;
    }

    .section-component-data.show {
        display: block; /* Show content when this class is added */
    }

    #github-repos {
        height: fit-content;
    }

    .section-item-title {
        margin-bottom: 5px;
    }
}

/* Tablets (portrait and landscape) */
@media (min-width: 600px) and (max-width: 1023px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-component {
        height: 500px;
    }

    .academic-component {
        padding: 10px;
        margin: 5px;
    }

    .academic-component h1 {
        height: 100px;
    }

    .academic-component p {
        font-size: 16px;
    }

    #github-repos {
        grid-column: 1 / 2; /* Spans the first column */
        grid-row: 1 / 3; /* Spans both rows (full height) */
        height: 1000px;
    }

    #work-history {
        grid-column: 2 / 3; /* Spans the second column */
        grid-row: 1 / 2; /* First row in the second column */
        margin-bottom: 0;
    }

    #academic-history {
        grid-column: 2 / 3; /* Spans the second column */
        grid-row: 2 / 3; /* Second row in the second column */
    }

    .repo-component {
        padding: 5px;
    }
}

/* Computer screens */
@media (min-width: 1024px) {
    .container {
        width: 75%;
        margin: auto;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .section-component {
        height: 500px;
    }

    .academic-component {
        padding: 10px;
        margin: 5px;
    }

    .academic-component h1 {
        height: 100px;
    }

    .academic-component p {
        
        font-size: 16px;
    }

    

    #github-repos {
        grid-column: 1 / 2; /* Spans the first column */
        grid-row: 1 / 3; /* Spans both rows (full height) */
        height: 1000px;
    }

    #work-history {
        grid-column: 2 / 3; /* Spans the second column */
        grid-row: 1 / 2; /* First row in the second column */
        margin-bottom: 0;
    }

    #academic-history {
        grid-column: 2 / 3; /* Spans the second column */
        grid-row: 2 / 3; /* Second row in the second column */
    }

    /* position: sticky;
    top: 0; */
}